img {
height: 700px;
width: 530px;
padding: 12px;
image-orientation: from-image;
}

img  {
  float: right;
}


a{
  font-size: 20px;
}

p{
  font-family: Georgia;
  font-size: 17px;
}

.center{
  text-align:center;
}

.border-box{
  border: 4px solid green;
  margin: 3px;
}

.background{
  background-color: LightGrey;
}

.interests{
  background-color: LightGreen;
}
