img {
height: 700px;
width: 530px;
padding: 12px;
image-orientation: from-image;
}

.center{
  margin: auto;
  width:50%;
  padding: 10px;
}

a{
  font-size: 20px;
}

p{
  font-family: Georgia;
  font-size: 15px;
}
